body {
  background-color: bisque;
}
h1 {
  text-align: center;
  font-size: 36px;
}
div {
  width: 700px;
  margin: 10px auto;
}
a {
  text-decoration: none;
}
p {
  font-size: 20px;
  text-align: center;
}
img {
  display: block;
  margin: 40px auto 0 auto;
}
.navigation {
  display: flex;
  width: 600px;
  padding-top: 40px;
  justify-content: space-evenly;
}
